.ekoButton {
    // idle
    .btn {
        width: 55.5px;
        height: 64px;
        border: none;
        background-image: url('../assets/spritesheet.png');
        background-size: 333px 100%;
        background-color: transparent;
        animation: spinCoin 0.6s steps(6) infinite;
    }

    // hover
    .btn:hover {
        opacity: 1;
    }

    // selected
    &.disabled.selected {
        .btn {
            opacity: 1;
        }
    }

    // not selected
    &.disabled {
        .btn {
            opacity: 0.4;
        }
    }

    span {
        margin-top: 70px;
        display: inline-block;
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        color: white;
        padding: 3px 0;
    }
}

@keyframes spinCoin {
    from {
        background-position-x: 0px;
    }
    to {
        background-position-x: -333px;
    }
}